<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="vi" />
	<title>Đổi mật khẩu</title>
	
	<!-- Style -->
	<link rel="stylesheet" href="res/css/bootstrap.min.css">
</head>